<% if (errors) {  %>
  <section class="flash-msg">
    <ul class="flash-msg-list">
      <% errors.forEach(function(msg){ %>
        <li class="flash-msg-item error">
          <%= msg %>
        </li>
      <% }) %>
    </ul>    
  </section>
<% } %>
<a href="#" class="close-form">X</a>
<h2> <%= card.isNew() ? "New Card" : "Edit Card" %> </h2>
<% if(!card.isNew()){ %>
  <h3> Due in <%= card.escape("due_date_in_words")  %> </h3>
<% } %>
<label for="card_front">Front:</label>
<input type="file" id="front-image">
  <div id="card_front" contenteditable="true" data-ph="Type in the front of your card here you can also add a picture by choosing a file above ↑"><%= card.escape("front") %><% if (card.escape("front_image_url").length > 3){ %><img src="<%=card.escape('front_image_url')%>" alt="front card image"/><% } %></div>

  
<label for="card_back">Back:</label> 
<input type="file" name="card[back_image]" id="back-image">
  <div id="card_back" contenteditable="true" data-ph="Type in the back of your card here you can also add a picture by choosing a file above ↑"><%= card.escape("back") %><% if (card.escape("back_image_url").length > 3){ %><img src="<%=card.escape('back_image_url')%>" alt="back card image"/><% } %></div>

<div class="form-buttons">
  <button class="add-more">Save and Make More</button>
  
  <button class="card-done">Save and Close</button>   
</div>
