<% if (decks.length > 0) { %>
  <section class="study-section">
    <h1>Study.  Beige.</h1>
    <ul class="deck-status">
      <% decks.each(function(deck){ %>
      <li>
        <p class="deck-title">
         <%= deck.escape("title") %>
        </p>
        <p class="cards-due">
         # cards due
        </p>
        <a href="#/study/<%=deck.id%>" class="study-deck">Study Now</a>   
      </li>
      <% }) %>
    </ul>
    <section class="deck-mng">
      <h2> Deck Management</h2>
      <ul class="decks-list">
        <% decks.each(function(deck){ %>
          <li>
            <p class="deck-info">
               <%= deck.escape("title") %>
            </p>
            <p class="deck-info">
              <%= deck.cards().length %> cards
            </p>
            
            <p class="deck-info">
              Avg Score: <%= deck.get("average_score") %>
            </p>
            
            <a href="#decks/<%=deck.id%>" class="edit-deck" data-deck-id="<%=deck.id%>">Edit Deck</a>
          </li>
          
       <% }) %>
      </ul>
   
  </section>
  
<% }else { %>
 <section class="study-section new-study-section">
   <h1> You need a deck to StudyBeige</h1>
   
 </section>
  


<% } %>