<header>
  <h2> StudyTwo Overview</h2>
</header>
<section class="decks">
  <ul>
    <% decks.each(function(deck){ %>
    <li>
      <%= deck.escape("title") %> |
      <%= deck.escape("description") %> |
      <button class="edit-deck" data-id="<%= deck.escape('id') %>">
      Edit Deck
      </button> |
      <button class="add-card" data-deck-id="<%= deck.escape('id') %>" >Add /Edit Cards</button>
      <button class="delete-deck" data-id="<%= deck.escape('id') %>">
        Delete Deck
      </button>
      <ul>
        <% deck.cards().each(function(card){%>
            <li>
              <%= card.escape("front") %>
            </li>
        <% }) %>
      </ul>
    </li>
    <% }) %>
  </ul>
  
</section>
<section class="form-space">
  <button class="new-deck"> New Deck </button>
</section>