<header class="header">
  <section class="header-nav">
  <a href="<%=  root_url %>">
    <h1>StudyBeige</h1>
  </a>

    <ul>
      <% if logged_in? %>
      <li> 
        <a href="<%=edit_user_url(current_user)%>">
          <%= current_user.name %>'s Profile
        </a> 
      </li>
      <li><form class= "logout-button" action="<%= session_url(current_user) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" name="button">Logout</button>
        </form>
      </li>
      <% else %>
        <li>
          <a href="<%= new_session_url %>" class="sign-in-link">
            Log In
          </a>
        </li>
        <li>
          <a href="<%= new_user_url %>"> Sign Up</a>
        </li>
      
      <% end %>
    </ul>
   </section> 

</header>